services:
  db:
    image: ankane/pgvector:latest
    container_name: kbtu_rag_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kbtu_db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  admin:
    build: .
    container_name: kbtu_rag_admin
    command: streamlit run admin.py
    ports:
      - "8501:8501"
    env_file:
      - .env
    environment:
      - DB_HOST=db
    volumes:
      - ./:/app
    depends_on:
      db:
        condition: service_healthy
