BOT_TOKEN=tg_bot_token
GROQ_API_KEY=your_api_key
CHANNEL_ID=-1003364549657 #telegram channel id

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kbtu_db

DAILY_LIMIT=5

# Default Host (overridden in Docker)
DB_HOST=localhost

# WSP Portal credentials
WSP_LOGIN=your_wsp_login
WSP_PASSWORD=your_wsp_password
